<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Code Generator</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="snowflakes"></div>
  <div class="content">
    <h1>QR Code Generator</h1>
    <p>&copy; 2023 pikupik. All rights reserved.</p>

    <% if (qrCode) { %>
      <div class="qr-code-container">
        <img src="<%= qrCode %>" alt="QR Code">
        <a href="<%= qrCode %>" download="qrcode.png">Download QR Code</a>
      </div>
    <% } %>

    <form action="/generate" method="post">
      <label for="text">Enter Text or URL:</label>
      <input type="text" id="text" name="text" required>
      <br>
      <button type="submit">Generate QR Code</button>
    </form>
  </div>

  <script src="js/script.js"></script>
</body>
</html>
